body {
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas {
    box-shadow : 10px 10px 10px purple;
    border-radius : 10px;
}

a{
    width: 400px;
    background-color: cyan;
    color: black;
}
